services:
  backend:
    build: ./backend
    ports:
      - "8000:8000"
    depends_on:
      - db
  frontend:
    build:
      ./frontend
    ports:
      - "3000:5173"
    depends_on:
      - backend
  db:
    image: postgres:15
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
      POSTGRES_DB: todo_db
    volumes:
      - postgres_data:/var/lib/postgresql/data
  redis:
    image: redis:7
    ports:
      - "6379:6379"
  celery_worker:
    build: ./backend
    command: celery -A celery_worker.celery_app worker --loglevel=info
    depends_on:
      - redis
      - db
volumes:
  postgres_data:
